name: schedule test

on:
  workflow_dispatch:
  schedule:
  - cron:  '0 8 */20 * *'

jobs:
  test:
    strategy:
      matrix:
        # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners
        os: [macos-15, macos-14, macos-15-intel, macos-26]
    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: set up go
      uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"
    - name: test
      run: |
        sw_vers
        make test
        make test-large-file
